h1{
    border-left-width:1px;
    border-left-style: solid;
    border-left-color: red;

    border-left:1px solid red;
    border-right:1px solid red;
    border-top:1px solid red;
    border-bottom:1px solid red;

    border:1px solid red;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin:0px;
    padding:20px;
}
p{
    border:1px solid red;
    margin:0px;
    padding-left:40px;
    padding-right:40px;
    padding-top:80px;
    padding-bottom:60px;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
}
body{
    margin:0px;
}