*{margin:0;padding:0;}
.box{
    width:800px;
    height:300px;
    background-color: gainsboro;
    margin:200px auto;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box1 div{width:100px;height:100px;}
.box1{
    position: relative;
}
.box1 .a{
    position:absolute;
    left:0;
    top:0;
}
.box1 .b{
    position: absolute;
    left:0;
    bottom:0;
}
.box1 .d{
    position: absolute;
    right:0;
    top:0;
}
.box1 .e{
    position: absolute;
    right:0;
    bottom:0;
}
.box1 .c{
    position: absolute;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
}

.box2{
    position: relative;
}
.box2 div{width:100px;height:100px;}
.box2 .a{
    position: absolute;
    left:-100px;
    top:-100px;
}
.box2 .b{
    position: absolute;
    left:-100px;
    bottom:-100px;
}
.box2 .d{
    position: absolute;
    right:-100px;
    top:-100px;
}
.box2 .e{
    position: absolute;
    right:-100px;
    bottom:-100px;
}
.box2 .c{
    position: absolute;
    left:calc(50% - 50px);
    bottom:-100px;
}

.box3{position: relative;}
.box3 div{
    width:calc(100% / 5);
    height:100%;
    position: absolute;
}
.box3 .a{
    left:0;
    top:-300px;
}
.box3 .b{
    left:160px;
    bottom:-300px;
}
.box3 .c{
    left:320px;
    top:-300px;
}
.box3 .d{
    left:480px;
    bottom:-300px;
}
.box3 .e{
    left:640px;
    top:-300px;
}
