*{margin:0;padding:0;}
.box{
    height:1000px;
}
.a{background-color: salmon;}
.b{background-color: rebeccapurple;}
.c{background-color: gold;}
.d{background-color: forestgreen;}
.sec-a{
    width:200px;
    height:200px;
    background-color: aqua;
    position: sticky;
    top:50px;
    left:50px;
}
.sec-b{
    position:sticky;
    background-color: aqua;
    top:100px;
    left:0;
    height:100px;
}
.sec-c{
    position: sticky;
    left:50px;
    top:0px;
    height:100px;
    width:100px;
    background-color: aqua;
}