@media (min-width:1024px){
    /* 화면너비가 최소 1024픽셀 이상일 때 적용되는 스타일 - pc */
    .container{
        background-color: red;
    }
}
@media (min-width:768px) and (max-width:1023px){
    /* 화면너비가 최소 768px이상 이고 최대 1023px이하일 때 적용될 스타일 */
    .container{
        background-color: blue;
    }
}
@media (max-width:767px){
    /* 화면 너비가 767픽셀 이하일 때 적용될 스타일 */
    .container{
        background-color: green;
    }
}

