*{margin:0;padding:0;}
.box{
    width:800px;
    background:#bebebe;
    margin:200px auto;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box1{display: flex;height:100px;}
.box1>div{width:100px;}

.box2{display: flex;height:100px;}
.box2>div{width:100px;}
.box2 .c{order:1;}
.box2 .a{order:2;}
.box2 .e{order:3;}
.box2 .b{order:4;}
.box2 .d{order:5;}

.box3{display: flex;height:100px;justify-content: flex-end;}
.box3 div{width:100px;}

.box4{height:300px;display: flex;justify-content: center;align-items: center;}
.box4 div{width:100px;height:100px;}

.box5{height:300px;display: flex;flex-direction: row-reverse;align-items: flex-end;justify-content: space-between;}
.box5 div{width:100px;height:100px;}

.box6{
    display: flex;
    flex-wrap: wrap;
}
.box6 div{
    height:100px;
    width:50%;
}

.box7{
    display: flex;
    justify-content: space-between;
}
/* .box7>section{border:5px solid lime;} */
.box7 div{
    width:100px;
    height:100px;
}

.box8{
    display: flex;
    justify-content: space-between;
    height:300px;
}
.box8>section{
    border:1px solid lime;
    display: flex;
}
.box8 div{
    width:100px;
    height:100px;
}
.box8-2{
    flex-direction: row-reverse;
}

.box9{
    display: flex;
    height:300px;
}
.box9>div{flex:1;}
.box9>div>div{height:100px;}

.box10{display: flex;height:300px;}
.box10>div{flex:1;}
.box10 .c{height:100px;}
.box10cb{display: flex;height:200px;}
.box10cb>div{flex:1;}