*{margin:0;padding:0;}
ul{list-style: none;}

:root{
    --base-size-wide:22px;
    --base-size-pc:20px;
    --base-size-tab:18px;
    --base-size-mobile:14px;
}


@media (min-width:1921px){
    html{
        font-family: 'Pretendard',sans-serif;
        font-size:var(--base-size-wide);
    }
}
html{
    font-family: 'Pretendard',sans-serif;
    font-size: var(--base-size-pc);
}
.wrap{
    width:1440px;
    margin:0 auto;
    padding-top: 3.75rem;
}
.wrap h1{
    text-align: center;
    padding:1rem 0;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
.wrap p{
    text-align: center;
    line-height: 140%;
}
.banner{
    height:441px;
    background: url("../img/cafe.jpg") no-repeat 50% 50% / cover;
    margin:5rem 0;
}
.wrap h2{
    text-align: center;
    padding:.5rem 0;
    margin-bottom: 1rem;
    font-size:1.5rem;
    font-weight: 700;
    line-height: 1;
}
.value{
    text-align: center;
}
.value li{
    margin-bottom: .5rem;
}
.value li:last-of-type{
    margin-bottom: 0;
}
@media (max-width:1024px){
    .pc-only{display: none;}
    html{
        font-size:var(--base-size-tab);
    }
    .wrap{
        width:auto;
        margin:0 2rem;
    }
}
@media (max-width:768px){
    html{
        font-size:var(--base-size-mobile);
    }
    .wrap{
        margin:0 1rem;
    }

}
