*{
    margin: 0;
    padding: 0;
}
.a{
    border:10px solid red;
    height:100px;
    color:Red;
    overflow-y: scroll;
}
.b{
    border:10px solid blue;
    overflow-x: scroll;
    white-space: nowrap;
}
.c{
    border:1px solid #000;
    height:24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.d{
    display: -webkit-box;          /* 플렉스형 박스(옛 사양) */
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    -webkit-line-clamp: 3;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조) */
}
/* 웹킷 계열의 브라우저 -> 크롬 엣지 사파리 */
::-webkit-scrollbar{
    width:20px;
    height:20px;
}

::-webkit-scrollbar-track{
    background: lime;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb{
    background:blue;
    border-radius: 5px;
}

/* 특정 영역에만 스크롤바 스타일을 적용하고 싶다면? */
.a::-webkit-scrollbar{
    width:5px;
    height:5px;
}
.a::-webkit-scrollbar-track{
    background: aqua;
    /* border-radius: 10px; */
}
.a::-webkit-scrollbar-thumb{
    background:green;
    border-radius: 0px;
}