html{
    font-size:20px;
}
.ex1{
    /* font-size:30px; */
    font-size:3rem;
    border:1px solid #000;
    padding:1rem 2rem;
}
.ex1 span{
    font-size:2em;
    padding:0 2em;
    border:1px solid #000;
}

.ex2{
    /* font-weight: 400; */
    font-weight: lighter;
}
.ex3{
    line-height: 1.6;
}
.ex4{font-style: italic;}
em{font-style: normal;}
.ex5{
    letter-spacing: 1rem;
}
.ex6{
    word-spacing: 3rem;
    /* word-spacing: initial; */
}
.ex7{
    /* white-space:nowrap; */
    /* white-space:pre; */
    white-space:pre-wrap;
}
.ex8{
    text-indent: 2.5rem;
}
.ex9{
    /* text-decoration: underline; */
    text-decoration: line-through;
}
a{
    text-decoration: none;
}
.ex10{
    border:1px solid #000;
    padding:1rem;
    text-align: right;
    text-align: center;
    text-align: justify;
}
.ex11{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
.ex12{
    word-break: keep-all;
    border:1px solid #000;
}
.ex13 b{
    font-size:3rem;
}
.ex13 i{
    vertical-align: baseline
}

@font-face {
    font-family:"영월체";
    src: url("../font/Yeongwol.otf");
}
@font-face {
    font-family: compoter;
    src: url("../font/Comforter-Regular.ttf");
}

.ex14{
    font-family:"영월체",compoter,sans-serif;
}
.ex15{
    font-family: 'Times New Roman', Times, serif;
}
@font-face {
    font-family: 'Sacheonhanggong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/SacheonHangGong-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.ex16{
    font-family: 'Sacheonhanggong';
}
.ex17{
    font-family: "Merienda", cursive;
}